<div class="pt-5 container">

  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h2>Record a new place</h2>


<h3>Search it with google places : </h3>

<script type="text/javascript" src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_PLACE_KEY']}&libraries=places"%> ></script>

<input type="text" id="autocomplete" placeholder="Enter a location"/>

    <script>
      var input = document.getElementById('autocomplete');
      var autocomplete = new google.maps.places.Autocomplete(input);
      // Set the data fields to return when the user selects a place.
      autocomplete.setFields(
                  [ 'formatted_address', 'url', 'geometry', 'name', 'photos', 'place_id', 'types']);
// https://maps.googleapis.com/maps/api/place/details/json?placeid=ChIJc0lauqNRqEcRidW5A807sCY&fields=formatted_address,url,geometry,icon,name,permanently_closed,photos,place_id,types&key=AIzaSyBxpRxs9Wfnft3j3noKGJ9zA0E_SRDwLoU

// The Basic Data SKU is triggered when any of these fields are requested: address_component, adr_address, formatted_address, geometry, icon, name, permanently_closed, photo, place_id, plus_code, type, url, utc_offset, vicinity.

      autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();
        console.log(place)

        console.log(place.photos[0].getUrl)

        if (!place.geometry) {
          // User entered the name of a Place that was not suggested and
          // pressed the Enter key, or the Place Details request failed.
          window.alert("No details available for input: '" + place.name + "'");
          return;
        }

        const name = document.getElementById('place_name');
        name.value = place.name;

        const address = document.getElementById('place_address');
        address.value = place.formatted_address;

        const link = document.getElementById('place_ext_link');
        link.value = place.url;

        const comment = document.getElementById('place_comment');
        comment.value = place.place_id;

      });


    </script>

    <h3>Check google result : </h3>

        <div class="form-inputs">

          <%= simple_form_for(@place) do |f| %>
              <%= f.input :name %>
              <%= f.input :address %>
              <%= f.input :ext_link %>

              <h3>Add services informations :</h3>
              <%= f.association :services,   as: :check_boxes %>

              <h3>Add your own images :</h3>
              <p>(will display google places images if availables)</p>

              <%= f.input :image1 %>
              <%= f.input :image1_cache, as: :hidden %>
              <%= f.input :image2 %>
              <%= f.input :image2_cache, as: :hidden %>
              <%= f.input :image3 %>
              <%= f.input :image3_cache, as: :hidden %>
              <%= f.input :image4 %>
              <%= f.input :image4_cache, as: :hidden %>
              <h3>Something to add ?</h3>
              <%= f.input :comment %>

            <div class="form-actions">
              <%= f.submit "Create it!", class: "btn btn-primary mb-5" %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
